<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <button id="btn">发送请求</button>
    <button id="btn1">请求B网</button>
    <button id="btn2">利用服务器A请求服务器B</button>
    <button id="btn3">请求线上的axios</button>
  </body>
  <script src="/javascripts/axios.js"></script>
  <script>
    let btn = document.getElementById('btn')
    let btn1 = document.getElementById('btn1')
    let btn2 = document.getElementById('btn2')
    let btn3 = document.getElementById('btn3')
    btn.onclick = function(){
      axios.get('/getMsg').then(res=>{
        console.log(res)
      })
    }
    btn1.onclick = function(){
      axios.get('/proxy').then(res=>{
        console.log(res)
      })
    }
    btn2.onclick = function(){
      axios.get('/api/demo2').then(res=>{
        console.log(res)
      })
    }
    btn3.onclick = function(){
      // axios.get('https://api.growingio.com/v2/22c937bbd8ebd703f2d8e9445f7dfd03/web/action?stm=1537192763560').then(res=>{
      //   console.log(res)
      // })
      axios.post('https://bird.ioliu.cn/v1',{
        params: {
          url: 'https://api.growingio.com/v2/22c937bbd8ebd703f2d8e9445f7dfd03/web/action?stm=1537192763560'
        }
      }).then(res=>{
        console.log(res)
      })
    }
  </script>
</html>
